.title {
	margin-top: 8rem;
	margin-bottom: 4rem;
	font-size: 5rem;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #0f0f28;

	@media (max-width: 1200px) {
		font-size: 4.4rem;

		&::before {
			content: "";
			position: relative;
			top: -2rem;
			display: block;
			margin: 0 auto;
			width: 14rem;
			height: 0.2rem;
			background-color: #c9ab63;
		}
	}

	@media (max-width: 992px) {
		max-width: 48.8rem;
	}

	@media (max-width: 576px) {
		font-size: 3.2rem;
	}
}
